################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PERT_Analysis/bin
/PERT_Analysis/obj

/PERT_Analyser/bin
/PERT_Analyser/obj
Installer/Release/
Installer/PERT_Analyser_Installer.exe
