<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    throwExceptions="true">

    <targets>
        <target name="file" xsi:type="File"
            fileName="${specialfolder:folder=ApplicationData}/PERT_Analysis/logfile.log" 
            keepFileOpen="true"
            encoding="utf-8">
            <layout xsi:type="LayoutWithHeaderAndFooter">
                <header xsi:type="SimpleLayout"
                    text="----------PERT Analysis Starting---------&#xD;&#xA;" />
                <layout xsi:type="SimpleLayout"
                    text="${longdate} ${level} ${logger} ${message}${exception:format=ToString}" />
                <footer xsi:type="SimpleLayout"
                    text="----------PERT Analysis Ending-----------&#xD;&#xA;" />
            </layout>
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
</nlog>